<!doctype html>
<html>
  <head>
    <%-  helper.assets.getStyle() %>
  </head>
  <body>
    <div id="root"></div>
    <%-  helper.assets.getContext() %>
    <%-  helper.assets.getScript() %>
  </body>
</html>
